body {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

.profile-photo {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.card {
  width: 90%; /* La card ocupa el 90% del ancho del dispositivo */
  max-width: 400px; /* Limita el ancho máximo en dispositivos más grandes */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 16px;
}

.card-title {
  font-size: 1.5em;
  margin: 0 0 8px;
}

.card-text {
  font-size: 1em;
  margin: 0 0 16px;
}

.card-button {
  display: inline-block;
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
}

.card-button:hover {
  background-color: #0056b3;
}

@media (min-width: 768px) {
  #container {
    flex-direction: row;
    justify-content: space-between;
  }
}

header {
  background-color: lightgray;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

footer {
  background-color: lightgray;
  padding: 20px;
  text-align: center;
}
